.header {
  nav {
    ul {
      list-style: none;
      display: flex;
      background-color: black;
      margin-bottom: 10px;

      li {
        padding: 20px;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .current {
    border-bottom: 4px solid white;
  }
}

