.box-detail {

  .text-muted {
    color: #777;
    font-size: 15px;
    margin-left: 5px;
  }

  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }

  .label-info {
    background-color: #3c8dbc;
    margin-right: 5px;
  }

  .label-new {
    background-color: #5cb85c;
  }

  .label-in-use {
    background-color: #5bc0de;
  }

  .label-stopped {
    background-color: #d9534f;
  }
}

.detail-footer {
  text-align: center;

  .btn-back {
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
    margin: 0 20px;

    &:hover {
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }

    &:focus {
      outline: none;
      background-color: #e6e6e6;
      border-color: #8c8c8c;
    }

    &:active {
      background-color: #adadad;
      border-color: #adadad;
    }
  }

  .btn-edit {
    color: #fff;
    background-color: #00c0ef;
    border-color: #00acd6;
    margin: 0 20px;

    &:hover {
      background-color: #00acd6;
    }

    &:focus {
      outline: none;
      background-color: #31b0d5;
      border-color: #1b6d85;
    }

    &:active {
      background-color: #269abc;
      border-color: #1b6d85;
    }
  }

  .btn-delete {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin: 0 20px;

    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }

    &:focus {
      color: #fff;
      background-color: #c9302c;
      border-color: #761c19;
    }

    &:active {

      color: #fff;
      background-color: #ac2925;
      border-color: #ac2925;
    }
  }
}
